# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
.venv/
.virtualenv/

# Configuration files
config.ini

# Last conversation file
last_conversation.json

# Miscellaneous
*.log
*.swp
*.swo
.DS_Store
